@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

// base variables
$darkGrey: #333;
$almostBlack: #222;
$smoke: rgb(197, 205, 223);
$red: rgb(252, 70, 70);

// bootstrap addons and overides
.bg-dark {
    background-color: $almostBlack;
}

.bg-smoke {
    background-color: $smoke;
}

.red {
    color: $red;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size:1.1rem;
    font-weight: normal;
}

.h3 {
    font-size: 1.5rem;
}

.h4 {
    font-size: 1.2rem;
}

.h5 {
    font-size: 1.1rem;
    font-weight: normal;
}

// custom styles
body {
    background: $darkGrey;
    color: $smoke;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-large {
    font-size: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.inline-block {
    display:inline-block;
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 1px solid $smoke;
}

.underline {
    border-bottom: 1px solid $smoke;
}

.float-left {
    float: left;
}

.grid-4 {
    display: inline-grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: auto;
    column-gap: 0.75rem;
    row-gap: 0.5rem;
}
.grid-3 {
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
}
.grid-end {
    justify-self: end;
}
.grid-center {
    place-self: center;
}
.grid-span-2 {
    grid-column: 1 / span 2;
}